.cta{
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  width: 234px;
  height: 44px;

  padding: 1px 10px 0 10px;

  background: linear-gradient(92.87deg, #F29559 -0.17%, #E6AACE 100%);
  border-radius: 40px;

  .cta__content{
    font-weight: $bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: $white;
  }

  &--big{
    width: fit-content;
    height: fit-content;

    margin-left: auto;
    margin-right: auto;

    padding: 11px 40px 10px 40px;

    border-radius: 60px;

    .cta__content{
      font-size: 29px;
      line-height: 40px;
    }
  }
}
@media (min-width: $desktop){
  .cta{
    &--big{
      padding: 21px 80px 20px 80px;

      .cta__content{
        font-size: 59px;
        line-height: 70px;
      }
    }
  }
} 