.navigation{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  transition: top 0.6s;

  &__burger{
    border: none;
    background: none;
    cursor: pointer;

    font-weight: $bold;
    color: $black;
    font-size: 20px;
    line-height: 24px;
  }

  .cta{
    display: none;
  }

  &__content {
    width: 100%;
    max-width: $wmobile;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 5px 20px 5px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $white;
    box-shadow: $shadow40;
    color: $black;
    border-radius: 20px;

    .navigation__brand {
      font-size: 30px;
      font-weight: $extraBold;
      text-decoration: none;
      color: $blue;
      transition-duration: 0.3s ease-in-out;
      transition-property: color;

      &:hover {
        background: linear-gradient(135deg, $orange 0%, $pink 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
    }
  }

  &--left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__list{
    display: flex;
    align-items: left;
    list-style-type: none;



    .navigation__el{
      margin: 0 0 0 2rem;

      .navigation__link{
        text-decoration: none;
        font-size: 20px;
        color: $black;
        text-transform: uppercase;
        font-weight: 300;

        &:hover{
          color: $orange;
        }
        &:visited{
          color: $blue;
        }
      }
    }
  }

  @media (max-width: $mobile){
    .navigation__list {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      list-style: none;

      position: absolute;
      top: 90px;
      left: 10px;
      right: 10px;
      width: 100%;
      max-width: $wmobile;
      height: calc(100vh - 100px);
      margin-left: auto;
      margin-right: auto;
      padding: 20px 20px 20px 20px;

      text-align: center;


      background-color: $white;
      box-shadow: $shadow40;
      color: $black;
      border-radius: 20px;

      transform-origin: top right;
      scale: 0;
      transform: rotateX(90deg);
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;


      .navigation__el{
        margin: 12px 12px 12px 0;

        transform: translateX(100%) rotateZ(4deg);


        .navigation__link{
          text-decoration: none;
          font-size: 35px;
          line-height: 140%;
          color: $black;
          font-weight: $medium;
          text-transform: uppercase;

          &:hover{
            color: $orange;
          }
          &:visited{
            color: $blue;
          }
        }
      }

      &--active{
        scale: 1;
        transform: rotateX(0deg);
        overflow: hidden;

        .navigation__el{
          transform: translateX(0) rotateZ(0deg) rotateX(0deg);
        }
        .navigation__el:nth-child(1){
          transition-duration: 300ms;
          transition-delay: 50ms;
        }
        .navigation__el:nth-child(2){
          transition-duration: 300ms;
          transition-delay: 100ms;
        }
        .navigation__el:nth-child(3){
          transition-duration: 300ms;
          transition-delay: 200ms;
        }
      }
    }
  }


}

@media (min-width: $tablet){
  .navigation{
    border-radius: 40px;
    &__content{
      width: $wtablet;
      max-width: $tablet;
    }

    &__burger{
      display: none;
    }
  }
}

@media (min-width: $desktop){
  .navigation{
    &__content{
      width: $wdesktop;
      max-width: $desktop;
      border-radius: 40px;
    }

    &__burger{
      display: none;
    }

    .cta{
      display: block;
    }


  }
}
