@media (max-width: $mobile){
  .menu__burger{
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 2000;
  }
  .navigation__list{
    position: fixed;
    z-index: 100;
    background-color: $orange;
    top: 80px;
    right: 10px;
    width: 80%;
    height: 60%;
    border-radius: 40px;
    box-shadow: $shadow40;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* transition-timing-function(cubic-bezier(0.25, 1, 0.5, 1)); */
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    
    transform-origin: right top;
    transform: translateX(100%);
    transform: translateY(-140%);
    

  }

  .navigation__el{
    transform: translateX(-20px);
    transform: rotate(-90deg);
    opacity: 0;
    transition: all .4s .4s cubic-bezier(0.25, 1, 0.5, 1);
  }
  .navigation--open .navigation__list{
    /* transform: scale(1);
    opacity: 1;
    pointer-events: all; */

    transform: translateX(0), translateY(0);
  }
  .navigation--open .navigation__el{
    transform: translateX(0px);
    transform: rotate(0deg);
    opacity:1;
  }
  .navigation--open .navigation__burger{
    background-color: #DF2935;
  }
  .navigation--open .navigation__el:nth-child(2){
    transition-delay: .5s;
  }
  .navigation--open .navigation__el:nth-child(3){
    transition-delay: .6s;
  }
  .navigation--open .navigation__el:nth-child(4){
    transition-delay: .7s;
  }
  .navigation--open .navigation__el:nth-child(5){
    transition-delay: .8s;
  }
}

@media (min-width:701px){
  .navigation__burger{
    display: none;
  }

  .navigation__liste{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #DF2935;

    display: flex;

  }
  .navigation__el{
    flex-grow: 1;
  }
  .navigation__el a{
    display: block;
    padding: 10px;
    text-align: center;
    color: #e6e8e6;
    transition-duration: .2s;
  }
  .navigation__el a:hover{
    background-color: #3772ff;
  }
  .section--header{
    padding-top: 100px;
  }
}




h1, h2{
  color: #3772ff;
}