main{
  width: $wdesktop;
  max-width: $desktop;
  margin-left: auto;
  margin-right: auto;
}

.section{
  box-sizing: border-box;

  width: 100%;
  max-width: $desktop;
  padding: 100px 45px;

  z-index: 10;

  &--colors{
    border-radius: 40px;
    width: 100%;
    max-width: $desktop;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(135deg, #F29559 0%, #E6AACE 100%);
    box-shadow: $shadow40;
  }


  &--img{
    background: linear-gradient(90deg, rgba(4, 15, 22, 0.5) 29.17%, rgba(4, 15, 22, 0.05) 100%), url('../../assets/images/gestion-horaire-sablier-avec-Ourly.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--horaire{
    background: linear-gradient(90deg, $white 30%, rgba(255, 255, 255, 0.05) 100%), url('../../assets/images/gestion-horaire-sablier-avec-Ourly.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 40px;

    margin-top: -120px;
    padding-top: 180px;
    position: relative;
    z-index: -1;
    box-shadow: $shadow20;
  }

  &--cta{

    .grid {
      background: none;
    }
  }

  &--dev{
    transform-origin: top center;
  }

  &--dev1{
    z-index: 100;
  }
  &--dev2{
    z-index: 200;
  }
  &--dev3{
    z-index: 300;
  }
}

// Header
.header{
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 0px;
  padding-right: 0px;

  background: linear-gradient(90deg, rgba(4, 15, 22, 0.5) 29.17%, rgba(4, 15, 22, 0.05) 100%), url('../../assets/images/gestion-horaire-sablier-avec-Ourly.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: $shadow20;

  color: $white;

  border-radius: 40px;

  &__content{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__title{
    font-size: 41px;
    font-weight: $bold;
    line-height: 115%;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__subtitle{
    font-weight: 900;
    font-size: 149px;
    line-height: 110%;
    margin-top: 0;

    background: linear-gradient(95.29deg, #F29559 0%, #E6AACE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

// image
.img{
  width: 100%;

  box-shadow: 4px 10px 40px rgba(0, 18, 66, 0.4);
  border-radius: 20px;
}

.section--colors .img {
  box-shadow: none;
}

// margin 
.mt-100{
  margin-top: 400px;
}

.sectionDev{
  position: relative;
}