main{
  width: 100%;
  max-width: $desktop;
  margin-left: auto;
  margin-right: auto;
}

.section{
  width: 100%;
  max-width: $desktop;

  margin-bottom: 100px;
  padding-top: 100px;

  &--colors{
    border-radius: 40px;
    width: 100%;
    max-width: $desktop;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(135deg, #F29559 0%, #E6AACE 100%);
  }
}

// Header
.header{
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 150px;
  padding-right: 150px;

  background: linear-gradient(90deg, rgba(4, 15, 22, 0.5) 29.17%, rgba(4, 15, 22, 0.05) 100%), url('../../assets/images/gestion-horaire-sablier-avec-Ourly.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: $shadow20;

  color: $white;

  border-radius: 60px;

  &__content{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__title{
    font-size: 41px;
    font-weight: $bold;
    line-height: 115%;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__subtitle{
    font-weight: 900;
    font-size: 149px;
    line-height: 110%;
    margin-top: 0;

    background: linear-gradient(95.29deg, #F29559 0%, #E6AACE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}