body {
  font-family: 'Inter', sans-serif;
  font-size: $fontSize;
  line-height: 1.4;
  color: $black;
}

.title{
  background: linear-gradient(135deg, #F29559 0%, #E6AACE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  max-width: 600px;

  &--big{
    font-size: 41px;
    font-weight: $bold;
    line-height: 115%;
  }

  &--medium{
    font-size: 35px;
    font-weight: $bold;
    line-height: 120%;
  }

  &--contrast{
    background: $black;
    color: $black;
    width: 100%;
  }
}

span .title{
  width: 100%;
  background: $black;
}

p{
  font-weight: $regular;
  font-size: 20px;
  line-height: 150%;
  color: $black;
  margin-bottom: 20px;
}


// si title dans une section colors
.section--colors .title {
  color: $white;
  background: none;

  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
  background-clip: unset;
}