body {
  font-family: 'Inter', sans-serif;
  font-size: $fontSize;
  line-height: 1.4;
  color: $black;
  background-color: $white;
}

.title{
  /*background: linear-gradient(135deg, #F29559 0%, #E6AACE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;*/
  color: $blue;
  max-width: 600px;
  margin-top: 0;

  &--extra{
    font-size: 60px;
    font-weight: 900;
    line-height: 110%;
  }

  &--big{
    font-size: 41px;
    font-weight: $bold;
    line-height: 115%;
  }

  &--medium{
    font-size: 35px;
    font-weight: $bold;
    line-height: 120%;
  }

  &--contrast{
    width: 100%;
    display: inline-block;
    background: linear-gradient(135deg, $orange 0%, $pink 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  &--center{
    text-align: center;
  }

  &--colors{
    background: none;
  }
}
.link{
  color: $blue;
  text-decoration: none;
}
.ctaText{
  text-align: left;
}

span .title{
  width: 100%;
  background: $black;
}

p{
  font-weight: $regular;
  font-size: 20px;
  line-height: 150%;
  color: $black;
  margin-bottom: 20px;
}


// si title dans une section colors
.section--colors .title {
  background: none;
}

.bold{
  font-weight: $bold;
}
.uppercase{
  text-transform: uppercase;
}
.difference{
  font-style: italic;
  color: $black;
}
.legend{
  font-size: 14px;
  line-height: 150%;
  color: $blue;
  margin-bottom: 20px;
}
blockquote{
  margin: 0;
}
.citation {
  font-size: 25px;
  font-weight: 600;
  line-height: 110%;
  margin-left: 0;
  color: $blue;
}

.line{
  display: inline-block;
  width: 100%;
}

@media (min-width: $desktop){
  .title{
    &--extra{
      font-size: 149px;
      font-weight: 900;
      line-height: 110%;
    }
  }

  .ctaText{
    text-align: left;
  }

  p{
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 24px;
  }
}
