body {
  font-family: 'Inter', sans-serif;
  font-size: $fontSize;
  line-height: 1.4;
  color: $orange;
}

.title{
  background: linear-gradient(135deg, $orange, $pink);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
