$orange: #F29559;
$pink: #E6AACE;
$white: #F0F4EF;
$blue: #001242;
$black: #040F16;

// opacity
$blue20: rgba(0, 18, 66, 0.2);
$blue40: rgba(0, 18, 66, 0.4);
$blue80: rgba(0, 18, 66, 0.8);

// shadows
$shadow20: 0 0 40px $blue20;
$shadow40: 0 0 40px $blue40;
$shadowBig: 0 20px 80px $blue80;

// font
$fontSize: 20px;
$fontSizeDesktop: 24px;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$extraBold: 800;
$tblack: 900;

// max-Wwidth
$desktop: 1440px;
$tablet: 1024px;
$mobile: 768px;

// width
$wdesktop: calc(100% - 90px);
$wtablet: calc(100% - 60px);
$wmobile: calc(100% - 20px);

